.App {
  background-color: #b094dd;
  width: 400px;
  height: 100%;
  margin: auto;
 display: flex;
 flex-direction: column;
}

.userlist {
flex: 1;
background-color: rgb(65, 12, 12);
}

.chat {
flex: 10;
background-color: rgb(172, 172, 172);
}

.inputbox {
  flex: 1;
  background-color: rgb(80, 80, 80);
}